html {
    background:url(https://raw.githubusercontent.com/TomKnn/EindopdrachtMoodAndFood/master/assets/backgroundFinal.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /*overflow: hidden;*/
}
.logo {
    position: absolute;
    height: 15%;
    width: 47%;
    top: 6%;
    left: 48%;
    z-index: 2;
}
h2{
    font-family: "Lucida Handwriting";
    position: absolute;
    top: 385px;
    left: 200px;
    color: #ff88f9;
    font-size: 40px;
    z-index: 2;
}
h3 {
    font-family: "Lucida Handwriting";
    position: absolute;
    top: 385px;
    left: 600px;
    color: #ff88f9;
    font-size: 40px;
    z-index: 2;
}
h4{
    font-family: "Lucida Handwriting";
    position: absolute;
    top: 375px;
    padding-left: 1000px;
    color: #ff88f9;
    font-size: 40px;
    z-index: 2;
}
h5{
    font-family: "Lucida Handwriting";
    position: absolute;
    top: 360px;
    left: 1350px;
    color: #ff88f9;
    font-size: 40px;
    z-index: 2;
}
h6{
    font-family: "Lucida Handwriting";
    position: absolute;
    top: 800px;
    left: 1350px;
    color: #ff88f9;
    font-size: 40px;
    z-index: 2;
}
#cuisine{
    color: #f7834f;
    top: 480px;
    left: 200px;
    font-family: "Arial Black";
    position: absolute;
    list-style-type:none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    z-index: 2;
}
#intolerance{
    color: #f7834f;
    top: 480px;
    left: 600px;
    font-family: "Arial Black";
    position: absolute;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    z-index: 2;
}
#inclusive{
    color: #f7834f;
    top: 480px;
    left: 1000px;
    font-family: "Arial Black";
    position: absolute;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    z-index: 2;
}
#maxReadyTime{
    color: #f7834f;
    top: 480px;
    left: 1350px;
    font-family: "Arial Black";
    position: absolute;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    z-index: 2;
}

.yourself{
    position: absolute;
    height: 95px;
    width: 645px;
    top: 30%;
    left: 31%;
    z-index: 2;
}
.balk{
    position: absolute;
    left: 55px;
    top: 960px;
    opacity: 80%;
    width: 1800px;
    z-index: 2;
}