html {
    background:url(https://raw.githubusercontent.com/TomKnn/EindopdrachtMoodAndFood/master/assets/backgroundFinal.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    /*overflow: hidden;*/
}
.logo {
    position: absolute;
    max-width: 20%;
    width: auto;
    height: auto;
    top: 100px;
    left: 31px;
    z-index: 2;
}
.olive{
    position: absolute;
    max-width:20%;
    height: auto;
    width: auto;
    top: 30%;
    left: 1%;
    z-index: 2;
}
.enjoy{
    position: absolute;
    max-width:15%;
    rotation:30grad;
    height:auto;
    width: auto;
    left:21%;
    top: 38%;
    z-index: 2;
}
.block{
    position: absolute;
    max-width: 21%;
    height:auto;
    width: auto;
    top: 0%;
    left: 1%;
    opacity: 70%;
    z-index: -1;
}
.howToBig{
    position: absolute;
    max-width: 23%;
    height:auto;
    width: auto;
    left:25%;
    top:20%;
}
.tekst {
    position: absolute;
    max-width: 68%;
    height: auto;
    width: auto;
    opacity: 90%;
    left: 25%;
    top: 31%;
}
.emojis{
    position: absolute;
    max-width: 48%;
    height:auto;
    width: auto;
    left:38%;
    top: 37%;
}
.kader{
    position: absolute;
    max-width: 76%;
    height:auto;
    width: auto;
    left:21%;
    top: 38%;
}
