/*head{*/
/*    position:absolute;*/
/*    top: 10px;*/
/*    left: 10px;*/
/*    z-index: 1;*/

/*}*/

/*.background {*/
/*    position:absolute;*/
/*    top: 10px;*/
/*    left: 10px;*/
/*    z-index: 1;*/
/*}*/
h1{
    font-family: Arial;
    color: lightgreen;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
    z-index: auto;
}
.thoughtBox{
    position: absolute;
    top: 3%;
    left: 40%;
    z-index: auto;
}

.startButton {
    position:absolute;
    opacity: 70%;
    height: 170px;
    width: 170px;
    top: 337px;
    left: 796px;
    z-index: 2;
}
.startButton:active{
    opacity: 70%;
    height: 160px;
    width: 160px;
    top: 342px;
    left: 800px;
    z-index: 2;
}

.howTo{
    position:absolute;
    height: 50px;
    width: 150px;
    top: 200px;
    left: 400px;

}
.logo {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 2;
}
.kader {
    position: absolute;
    opacity: 65%;
    top: 40%;
    left: 7%;
    z-index: 2;
}
.howToStart{
    position: absolute;
    top: 379px;
    left: 166px;
    z-index: 2;
}
.contact{
    position: absolute;
    top: 498px;
    left: 165px;
    z-index: 2;
}
.disclaimer{
    position: absolute;
    top: 617px;
    left: 165px;
    z-index: 2;

}
/*.dinner {*/
/*    top: 10%;*/
/*    left: 70%;*/
/*    height: 10px;*/
/*    width: 50px;*/
/*}*/




/*@media screen and (min-width: 1200px) and (max-width: 2000px) {*/

/*    p {*/
/*        font-size: 12px;*/
/*    }*/
/*}*/

/*body, html {*/
/*    height: 100%;*/
/*}*/

/*.startButton{*/
/*    height: 100px;*/

/*}*/
/*.logo {*/
/*    height: 100px;*/
/*    position: relative;*/
/*    margin-top: 16px;*/
/*    padding: 16px;*/
/*}*/

/*!*.screen {*!*/
/*!*    height: 100%;*!*/
/*!*}*!*/

/*!*.screen{*!*/

/*!*    background-image:![](../assets/achtergrond2 mood&food.jpg);*!*/

/*!*    !* Full height *!*!*/
/*!*    height: 100%;*!*/

/*!*    !* Center and scale the image nicely *!*!*/
/*!*    background-position: center;*!*/
/*!*    background-repeat: no-repeat;*!*/
/*!*    background-size: cover;*!*/
/*!*}*!*/